@if (!User.Identity.IsAuthenticated)
{
    ViewData["Title"] = "Справочник для гостей";

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>

    <h1>@ViewData["Title"]</h1>

    <h2>Полезные ссылки</h2>
    <ul>
    <li>
    <a href="https://vk.com/profkom_vlsu" target="_blank">ВКонтакте Профкома ВлГУ</a>
    </li>
    <li>
    <a href="https://t.me/s/profkomvlsu" target="_blank">Телеграм-канал Профкома ВлГУ</a>
    </li>
    <li>
    <a href="https://www.vlsu.ru/" target="_blank">Сайт университета</a>
    </li>
    </ul>

    <h2>Наши контакты</h2>
    <p>Адрес: 313-1</p>
    <p>Телефон: 8 4922 745566</p>
    <p>Почта: profkom_vlsu@mail.ru</p>
}
else if (User.IsInRole("Member"))
{
    ViewData["Title"] = "Справочник для участников";

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>

    <h1>@ViewData["Title"]</h1>

    <h2>Полезные ссылки</h2>
    <ul>
    <li>
    <a href="https://vk.com/profkom_vlsu" target="_blank">ВКонтакте Профкома ВлГУ</a>
    </li>
    <li>
    <a href="https://t.me/s/profkomvlsu" target="_blank">Телеграм-канал Профкома ВлГУ</a>
    </li>
    <li>
    <a href="https://www.vlsu.ru/" target="_blank">Сайт университета</a>
    </li>
    </ul>

    <h2>Наши контакты</h2>
    <p>Адрес: 313-1</p>
    <p>Телефон: 8 4922 745566</p>
    <p>Почта: profkom_vlsu@mail.ru</p>
}
else if (User.IsInRole("Volunteer"))
{
    ViewData["Title"] = "Справочник для волонтёров";

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>

    <h1>@ViewData["Title"]</h1>

    <h2>Наши группы</h2>
    <ul>
    <li>
    <a href="https://vk.com/profkom_vlsu" target="_blank">ВКонтакте</a>
    </li>
    <li>
    <a href="https://t.me/s/profkomvlsu" target="_blank">Телеграмм</a>
    </li>
    <li>
    <a href="https://www.vlsu.ru/" target="_blank">Сайт университета</a>
    </li>
    </ul>

    <h2>Наши контакты</h2>
    <p>Адрес: Владимир, ул. Горького 87, ауд. 313-1</p>
    <p>Телефон: 8 4922 745566</p>

    <p>Почта:<a href="profkom_vlsu@mail.ru" target="_blank">profkom_vlsu@mail.ru</a> </p>
}
else
{
    ViewData["Title"] = "Справочник для председателя профбюро";
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>

    <h1>Справочник для председателя профбюро</h1>

    <h2>Общежития</h2>
    <p>
    <a href="https://studcity.vlsu.ru/" target="_blank">https://studcity.vlsu.ru/</a>
    </p>

    <h2>Стипендия</h2>
    <p>
    <a href="https://www.vlsu.ru/index.php?id=1420" target="_blank">https://www.vlsu.ru/index.php?id=1420</a>
    </p>

    <h2>СКС Профсоюза</h2>
    <p>
    <a href="https://vk.com/sks_rf" target="_blank">https://vk.com/sks_rf</a>
    </p>
}